.flash-card{
   
    cursor: pointer;
  

    user-select: none;

}

.flash-card.front{
    padding: 20px;
    background-color: blanchedalmond;
}
.flash-card.back{
    padding: 20px;
    background-color:#0c8195;
    color: white;
}